<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>slate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA9CE2961B91FD560017C54E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9CE2AA1B91FD570017C54E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA9CE2B51B91FD570017C54E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
